###### Timing TGAN module

# Result

### Altering Columns
| Data | # Rows  | # Continuous | # Categorical  | Time (Minutes) |
|:---:|---:|---:|---:|---:|
| Wisconsin | 569 | 30 | 0  | 50 |
| Wisconsin | 569 | 14  | 0  | 30 |
| Wisconsin | 569 | 7  | 0  | 11 |
| Wisconsin | 569 | 2  |  0 | 6 |
| Wisconsin | 1138 | 30  |  0 |  |


### Altering Rows
| Data | # Rows  | # Continuous | # Categorical  | Time (Minutes) |
|:---:|---:|---:|---:|---:|
| Wisconsin | 1138 | 30 | 0  |  |
| Wisconsin |  | 30  | 0  |  |
| Wisconsin |  | 30 | 0  |  |
| Wisconsin |  | 30 |  0 |  |
| Wisconsin |  | 30 |  0 |  |

## All Numeric Dataset

In [3]:
import pandas as pd
import numpy as numpy
import time

from ctgan import CTGANSynthesizer

In [4]:
data = pd.read_csv('D:\Scalability Check\ContinuousData.csv', sep = ',')
print(data.shape)

(100000, 26)

In [5]:
data.head()

,SUBJECT_ID,NUMCALLOUT,NUMCPTEVENTS,NUMDIAGNOSIS,NUMOUTEVENTS,NUMRX,NUMPROCEVENTS,NUMMICROLABEVENTS,NUMPROC,NUMTRANSFERS,...,NUMOUTEVENTS1,NUMRX1,NUMPROCEVENTS1,NUMMICROLABEVENTS1,NUMPROC1,NUMTRANSFERS1,NUMINPUTEVENTS1,NUMLABEVENTS1,NUMNOTEVENTS1,NUMOUTEVENTS1.1
0,22,0,0,7,7,0,0,1,3,2,...,7,0,0,1,3,2,6,91,10,7
1,23,0,0,8,62,69,0,1,7,4,...,62,69,0,1,7,4,180,208,12,62
2,23,1,6,10,29,69,4,1,1,5,...,29,69,4,1,1,5,0,221,17,29
3,24,0,4,4,2,26,0,0,6,3,...,2,26,0,0,6,3,50,99,5,2
4,25,0,4,4,59,67,0,2,9,4,...,59,67,0,2,9,4,483,315,20,59

## Altering Number of Rows

In [10]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:1000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:1000,1:].shape)

Epoch 1, Loss G: -0.0788, Loss D: -0.0866
Epoch 2, Loss G: -0.1890, Loss D: -0.2678
Epoch 3, Loss G: -0.3214, Loss D: -0.4066
Epoch 4, Loss G: -0.5528, Loss D: -0.5712
Epoch 5, Loss G: -0.8720, Loss D: -0.7735
16.521539449691772
data shape: (1000, 25)

In [11]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:10000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:10000,1:].shape)

Epoch 1, Loss G: -1.6888, Loss D: -0.4847
Epoch 2, Loss G: -2.1177, Loss D: -5.6082
Epoch 3, Loss G: -2.3040, Loss D: -3.1252
Epoch 4, Loss G: -1.9126, Loss D: -3.5499
Epoch 5, Loss G: -1.5963, Loss D: -3.3451
90.7307071685791
data shape: (10000, 25)

In [12]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:20000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:20000,1:].shape)

Epoch 1, Loss G: -2.9365, Loss D: -4.8588
Epoch 2, Loss G: -2.5436, Loss D: -2.6609
Epoch 3, Loss G: -1.5183, Loss D: -2.8945
Epoch 4, Loss G: 0.6982, Loss D: -5.3616
Epoch 5, Loss G: 3.2909, Loss D: -8.7925
267.01140332221985
data shape: (20000, 25)

In [13]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:40000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:40000,1:].shape)

Epoch 1, Loss G: -1.7384, Loss D: -1.5148
Epoch 2, Loss G: 1.2943, Loss D: -5.1672
Epoch 3, Loss G: 5.2091, Loss D: -9.6551
Epoch 4, Loss G: 6.6481, Loss D: -13.9653
Epoch 5, Loss G: 8.6091, Loss D: -22.0722
301.14428091049194
data shape: (40000, 25)

In [14]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:60000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:60000,1:].shape)

Epoch 1, Loss G: -0.6154, Loss D: 0.5039
Epoch 2, Loss G: 6.6254, Loss D: -8.9208
Epoch 3, Loss G: 8.7683, Loss D: -19.0587
Epoch 4, Loss G: 10.1679, Loss D: -30.3835
Epoch 5, Loss G: 11.6193, Loss D: -43.7205
298.74908566474915
data shape: (60000, 25)

In [15]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:80000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:80000,1:].shape)

Epoch 1, Loss G: -0.8000, Loss D: -0.2113
Epoch 2, Loss G: 7.7947, Loss D: -15.4315
Epoch 3, Loss G: 10.1294, Loss D: -29.9137
Epoch 4, Loss G: 11.4902, Loss D: -48.2503
Epoch 5, Loss G: 13.1642, Loss D: -68.8985
385.57021379470825
data shape: (80000, 25)

In [16]:
a = time.time()
ctgan = CTGANSynthesizer()
ctgan.fit(data.iloc[:100000,1:], epochs = 5)
b = time.time()

print(b-a)
print('data shape:', data.iloc[:100000,1:].shape)

Epoch 1, Loss G: 5.1643, Loss D: -6.1108
Epoch 2, Loss G: 9.2186, Loss D: -23.4818
Epoch 3, Loss G: 11.0969, Loss D: -43.4771
Epoch 4, Loss G: 13.4527, Loss D: -70.5242
Epoch 5, Loss G: 15.5199, Loss D: -98.8099
664.3978652954102
data shape: (100000, 25)